/* globals.css */
/* Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
html,
body {
  font-family: "Lexend", sans-serif; /* Add your preferred font */
  margin: 0;
  padding: 0;
  background-color: #ADB3A9;
  color: #333; /* You can set a default text color here */
}

/* Apply the same gradient to the navbar globally */
.bg-gradient-navbar {
  background: linear-gradient(to right, #6e67f4, #4d3eb3);
}

/* Customize placeholder styles globally */
input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* If you want to customize the focus ring color globally */
input:focus {
  outline: 2px solid #6e67f4; /* Customize focus ring color */
}

:root {
  --font-lexend: "Lexend", sans-serif;
  --font-akshar: "Akshar", sans-serif;
  --font-roboto: "roboto", sans-serif;
}

body {
  font-family: var(--font-lexend);
}


.custom-wallet-button .wallet-adapter-button:hover {
  background-color: rgba(25, 38, 52, 0.8) !important;
}

.custom-wallet-button .wallet-adapter-button-start-icon {
  width: 1.25rem !important;
  height: 0rem !important;
}

/* @media (max-width: 640px) {
  .custom-wallet-button .wallet-adapter-button {
    background-color: transparent !important;
    border: none !important;
    font-family: var(--font-lexend) !important;
    color: rgba(255, 255, 255, 0.5) !important;
    width: 100% !important;
  }
  .custom-wallet-button .wallet-adapter-button:hover {
    width: 100% !important;
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.7) !important;
  }
} */

.agent_gradient {
  @apply bg-gradient-to-r from-[#BE6DF0] via-[#3EBAF0] to-[#1BE5B4] bg-clip-text text-transparent;
}
.blue_gradient {
  @apply bg-gradient-to-r  from-[#3EBAF0] to-[#1BE5B4] bg-clip-text text-transparent;
}
.gray_gradient {
  @apply bg-gradient-to-tr from-[#ffffff]  to-[#999999] bg-clip-text text-transparent;
}
.nav-sidebar {
  @apply absolute left-0 right-0  transition-all duration-300 ease-in-out overflow-hidden  mx-auto md:hidden block top-16;
}

.leapfrog {
  --uib-size: 30px;
  --uib-speed: 2s;
  --uib-color: #f0f0f0;
  /* background-color: aqua; */
  z-index: 100;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-size);
}

.leapfrog_dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.leapfrog_dot::before {
  content: "";
  display: block;
  height: calc(var(--uib-size) * 0.22);
  width: calc(var(--uib-size) * 0.22);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
}

.leapfrog_dot:nth-child(1) {
  animation: leapFrog var(--uib-speed) ease infinite;
}

.leapfrog_dot:nth-child(2) {
  transform: translateX(calc(var(--uib-size) * 0.4));
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5)
    infinite;
}

.leapfrog_dot:nth-child(3) {
  transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3) infinite;
}

@keyframes leapFrog {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  33.333% {
    transform: translateX(0) rotate(180deg);
  }

  66.666% {
    transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@keyframes wave-animation {
  0% {
    opacity: 0;
    transform: scaleX(0.5) scaleY(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scaleX(1.2) scaleY(1.2);
  }
}

.thin-signal-icon {
  position: relative;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 3px;
  height: 3px;
  background-color: #0ec97f;
  border-radius: 50%;
  z-index: 2;
}

.wave {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid #0ec97f;
  border-color: transparent #0ec97f transparent #0ec97f;
  border-radius: 50%/50%;
  opacity: 0;
  animation: wave-animation 2.5s infinite ease-out;
}
.dot-blue {
  width: 3px;
  height: 3px;
  background-color: #4594ff;
  border-radius: 50%;
  z-index: 2;
}

.wave-blue {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid #4594ff;
  border-color: transparent #4594ff transparent #4594ff;
  border-radius: 50%/50%;
  opacity: 0;
  animation: wave-animation 2.5s infinite ease-out;
}

.wave-1 {
  animation-delay: 0s;
  margin: 0 10px 0 10px;
}

.wave-2 {
  animation-delay: 1s;
}

/* Add this to your global CSS file */
@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.overlay-enter {
  animation: slideIn 0.3s ease forwards;
}

.overlay-exit {
  animation: slideOut 0.3s ease forwards;
}
.scrollbar::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(71, 71, 71, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.scrollbar::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(109, 109, 109, 0.4);
  height: 90px;
}

.border_gradient {
  border-image: linear-gradient(to right, #39c1e7 50%, #1fe1bb 50%) 1;
  /* this doesn't work */
  border-width: 1px;
  border-style: solid;
  padding: 5px;
}
